extends layout
block content

  h1= title
  if addFacture
      .alert.alert-warning.alert-dismissible.fade.show Facture added
        button(type="button" class="btn-close" data-dismiss="alert" aria-label="Close")
  if aucune_facture
    .alert.alert-warning.alert-dismissible.fade.show  Aucune facture pour ce mois
      button(type="button" class="btn-close" data-dismiss="alert" aria-label="Close")

  table.table
    thead
      tr
        if user.can("factureRead")
          th(scope="col") Nom
          th(scope="col") Prenom

        th(scope="col") Numero
        th(scope="col") Date de génération
        th(scope="col") Montant total
    tbody
      each facture in factures
        tr
          if user.can("factureRead")
            td= facture.user.family_name
            td= facture.user.first_name

          td= facture.numero
          td= facture.date_formated
          td= facture.montant + ' ' + ' euro '
          td
            a.btn.btn-sm.btn-outline-primary(href=`/click-fablab${facture.url}/detail`, data-toggle="tooltip", title="View details")
             svg(width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-card-text" fill="currentColor" xmlns="http://www.w3.org/2000/svg")
                path(fill-rule="evenodd" d="M14.5 3h-13a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z")
                path(fill-rule="evenodd" d="M3 5.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 8a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 8zm0 2.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z")
            if user.can("factureDelete")
              a.btn.btn-sm.btn-outline-danger(href=`/click-fablab${facture.url}/delete`, data-toggle="tooltip", title="Delete")
                svg.bi.bi-trash(width='1em' height='1em' viewbox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg')
                  path(d='M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z')
                  path(fill-rule='evenodd' d='M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z')












