extends layout

block content
  h1= title
  if date_nom_valide
    .alert.alert-warning.alert-dismissible.fade.show Date invalide
      button(type="button" class="btn-close" data-dismiss="alert" aria-label="Close")
  if selectUtilisateur
    .alert.alert-warning.alert-dismissible.fade.show Aucun utilisateur.
      button(type="button" class="btn-close" data-dismiss="alert" aria-label="Close")



  table.table
    thead
      tr
        th(scope="col") id
        th(scope="col") Date
        th(scope="col") Mintue
        th(scope="col") Utilisateur


    tbody
      each utilisation in utilisationsUser
        tr
          td= utilisation.id
          td= utilisation.date_formated
          td= utilisation.duration
          td= utilisation.userUsername




          if user.can("utilisationDelete")
            td
              a.btn.btn-sm.btn-outline-danger(href=`/click-fablab/${utilisation.url}/delete`, data-toggle="tooltip", title="Delete")
                svg.bi.bi-trash(width='1em' height='1em' viewbox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg')
                  path(d='M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z')
                  path(fill-rule='evenodd' d='M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z')

  if user.can('utilisateurList')
    a.btn.btn-sm.btn-outline-dark(href='/click-fablab/utilisateur')  Retour
